{{form_start(filter)}}
<tr>
    <th>#</th>
    <th>{{ form_widget(filter.code) }}</th>
    <th>{{ form_widget(filter.name) }}</th>
    <th>{{ form_widget(filter.address) }}</th>
    <th>{{ form_widget(filter.is_default) }}</th>
    <th>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('store_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </th>
</tr>
{{form_end(filter)}}