{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.code }}
{% endblock %}


{% block content %}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'code'|trans }}</th>
                <td>{{ data.code }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <th>{{ 'address'|trans }}</th>
                <td>{{ data.address }}</td>
            </tr>
            <tr>
                <th>{{ 'is_default'|trans }}</th>
                <td>
                    {{ include('_badge.twig', {is_success: data.isDefault, is_danger: not data.isDefault, label: data.isDefault ? 'yes'|trans : 'no'|trans}) }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}