{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ 'import'|trans }}: {{ title|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    <div class="alert alert-info">
    <ol>
        {% if template_url %}
        <li>
            <a href="{{ template_url }}" class="btn btn-sm btn-danger"><i class="fa fa-download"></i><span> {{ 'download'|trans }}</span></a>
            {{ 'template'|trans }}
        </li>
        <li>{{ 'open_file_instruction'|trans }}</li>
        <li>{{ 'input_data_instruction'|trans }}</li>
        <li>{{ 'save_file_instruction'|trans }}</li>
        {% endif %}
        <li>{{ 'upload_instruction'|trans }}</li>
    </ol>
    </div>
    {{ form_widget(form) }}
{% endblock %}