{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ app_name }} | {% block title %}{{ 'select_printer'|trans }}!{% endblock %}</title>
        <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <style>
            .shortcut-label {
                font-size: 10px;
                color: red;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container" style="margin-top: 10px">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}
                    
                    <div class="pull-right">
                        <button type="submit" name="submit" id="btnPrint" class="btn btn-info">
                            <span class="fa fa-print"></span>
                            {{ 'print'|trans }}
                            <em class="shortcut-label">(ctrl+p)</em>
                        </button>
                        <a href="{{ backPath }}" class="btn btn-primary"><i class="fa fa-list"></i> {{ 'back'|trans }}</a>
                    </div>
                        
                    {{ form_end(form) }}
                </div>
            </div>
                    
        </div>
        <script src="{{ asset('assets/js/jquery-3.0.0.js')}}"></script>
        <script src="{{ asset('assets/js/jquery-migrate-3.3.0.js')}}"></script>
        <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('assets/js/hotkeys.min.js')}}"></script>
        <script>
            hotkeys('ctrl+p', function (event, handler){
                event.preventDefault();
                switch (handler.key) {
                    case 'ctrl+p':
                        $('#btnPrint').click();
                        break;
                }
            });
        </script>
    </body>
</html>
{% endapply %}

        