{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" name="submit" value="1" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th width="20%">{{ form_label(form.item) }}</th>
                <td>{{ form_widget(form.item, {attr: {class: "select2-form"}}) }}</td>
                <th width="20%">{{ form_label(form.packaging) }}</th>
                <td>{{ form_widget(form.packaging) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.quantity) }}</th>
                <td>{{ form_widget(form.quantity) }}</td>
                <th>{{ form_label(form.price) }}</th>
                <td>{{ form_widget(form.price) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.tax) }}</th>
                <td>{{ form_widget(form.tax) }}</td>
                <th>{{ form_label(form.total) }}</th>
                <td>{{ form_widget(form.total) }}</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/kmj-purchase.js')}}"></script>
    <script>
    var $item = $('#purchase_detail_item');
    var $quantity = $('#purchase_detail_quantity');
    var $price = $('#purchase_detail_price');
    var $token = $('#purchase_detail__token');
    $item.change(function() {
        var $form = $(this).closest('form');
        var data = {};
        data[$item.attr('name')] = $item.val();
        data[$quantity.attr('name')] = $quantity.val();
        data[$price.attr('name')] = $price.val();
        data[$token.attr('name')] = $token.val();
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            beforeSend: function(e){
                $('#purchase_detail_packaging').replaceWith(
                    '<div id="purchase_detail_packaging">{{'get_data'|trans}}</div>'
                );
            },
            success: function(html) {
                $('#purchase_detail_packaging').replaceWith(
                    $(html).find('#purchase_detail_packaging')
                );
            }
        });
    });
    </script>
{% endblock %}