{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.title }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('kmj_documentation_edit', {id: data.id}, {class: 'btn btn-info'}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
    {{ link_to('kmj_documentation_index', {}, {class: 'btn btn-primary'}, '<i class="fa fa-list"></i> ' ~ 'back'|trans ) }}
{% endblock %}

{% block page %}
    <div class="col-md-12"> 
        <h3 style="margin-top:0!important;">{{ data.topic }}: {{ data.title }}</h3>
        <hr/>
        <p>{{ data.content|raw }}</p>
        <hr/>
        <div class="pull-right"><span class="fa fa-calendar"></span>: {{ data.createdAt|date('d M Y H:i') }}</div>
    </div>
{% endblock %}