{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
    {{ link_to('kmj_documentation_index', {}, {class: 'btn btn-primary'}, '<i class="fa fa-list"></i> ' ~ 'back'|trans ) }}
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block page %}
    
    {{ form_widget(form) }}
    
{% endblock %}
