{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 style="text-align: center">{{ 'month'|trans }}: {{ date|date('M Y') }}</h3>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ 'shortcut'|trans }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('purchase_create') }}" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> {{ 'create'|trans }} {{ 'purchase'|trans }}</a></li>
                    <li><a href="{{ path('sale_create') }}" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> {{ 'create'|trans }} {{ 'sale'|trans }}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">{{ price(total_income) }}</span>
                                <p class="stats-info">{{ 'total'|trans }} {{ 'income'|trans }} / {{ 'profit'|trans }}</p>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-money stats-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">{{ price(total_sale) }}</span>
                                <p class="stats-info">{{ 'total'|trans }} {{ 'sale'|trans }} {{ "transaction"|trans }}</p>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-money stats-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">{{ price(total_purchase) }}</span>
                                <p class="stats-info">{{ 'purchase'|trans }} {{ "transaction"|trans }}</p>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-money stats-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{{ path('item_price_approval_list') }}" data-toggle='modal' data-target="#myModal">
                    <div class="panel {{(approval_price_count>0)?'panel-danger': 'panel-white'}} stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">{{ approval_price_count }} {{ 'item'|trans }}</span>
                                <p class="stats-info">{{ 'approval_price'|trans }}</p>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-money stats-icon"></i>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                {{ include('pages/dashboard/chart/_sale_by_date.twig', {data: sale_day_to_day}) }}
                </div>
                <div class="col-lg-12">
                {{ include('pages/dashboard/chart/_sale_by_item.twig', {data: sale_by_category}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_charts %}
    {{ include('@SimpleAdmin/_chart_js.twig') }}
{% endblock %}