{% extends "page-layout.html.twig" %}

{% block title %}{{ title|trans }} {% endblock %}

{% block page %}
    
    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    <button type="submit" class="btn btn-success" id="submit"><i class="fa fa-save"></i> <span id="submit_label">{{ 'save'|trans }}</span></button>
    <a href="{{ path('admin_index') }}" class="btn btn-primary"><i class="fa fa-history"></i> {{ 'back'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}