{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ kmj_user.name }} 
{% endblock %}

{% block content %}
    
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{{ 'username'|trans }}</th>
                <td>{{ kmj_user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ kmj_user.name }}</td>
            </tr>
            <tr>
                <th>{{ 'roles'|trans }}</th>
                <td>{{ include('pages/user/_role.twig', {roles: kmj_user.roles}) }}</td>
            </tr>
            <tr>
                <th>{{ 'is_active'|trans }}</th>
                <td>{{ include('_badge.twig', {is_success: kmj_user.isActive, is_danger: not kmj_user.isActive, label: kmj_user.isActive ? 'active'|trans : 'non_active'|trans}) }}</td>
            </tr>
        </tbody>
    </table>
                
{% endblock %}