<tr>
    <th width="30%">{{ 'code'|trans }}</th>
    <td>{{ form_widget(form.code) }}</td>
</tr>
<tr>
    <th>{{ 'supplier'|trans }}</th>
    <td>{{ form_widget(form.supplier, {attr: {class: "select2-form"}}) }}</td>
</tr>
<tr>
    <th>{{ 'purchase_at'|trans }}</th>
    <td>{{ form_widget(form.purchase_at) }}</td>
</tr>
<tr>
    <th>{{ 'total'|trans }}</th>
    <td>{{ form_widget(form.total) }}</td>
</tr>
<tr>
    <th>{{ 'description'|trans }}</th>
    <td>{{ form_widget(form.description) }}</td>
</tr>

{% if data.getIsLocked() == false %}
    {% if data.getPurchaseDetails|length >0 %}
    <tr>
        <th>{{ 'is_locked'|trans }}</th>
        <td>
            {{ form_widget(form.is_locked) }}
            <div class="alert alert-info">
                <p> {{ 'locked_message'|trans }}</p>
            </div>
        </td>
    </tr>
    {% else %}
        {{ form_widget(form.is_locked) }}
    {% endif %}
<tr>
    <th></th>
    <td>
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
    </td>
</tr>
{% else %}
<tr>
    <th>{{ 'is_locked'|trans }}</th>
    <td>
        {{ include('@SimpleAdmin/_boolean_field.twig', {is_check: data.isLocked}) }}
    </td>
</tr>
    
{% endif %}