{{form_start(filter)}}
<tr>
    <th>#</th>
    <th>{{ form_widget(filter.code) }}</th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.purchase_at.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.purchase_at.to) }}</div>
    </th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.total.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.total.to) }}</div>
    </th>
    <th>{{ form_widget(filter.supplier, {attr: {class: "select2-form"}}) }}</th>
    <th>{{ form_widget(filter.is_locked) }}</th>
    <th>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('purchase_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </th>
</tr>
{{form_end(filter)}}