<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th>{{ 'item'|trans }}</th>
            <th width="5%">{{ 'quantity'|trans }}</th>
            <th width="10%">{{ 'packaging'|trans }}</th>
            <th width="10%">{{ 'price'|trans }}</th>
            <th width="10%">{{ 'tax'|trans }}</th>
            <th width="10%">{{ 'total'|trans }}</th>
            <th width="20%">{{ 'actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for k, detail in data.getPurchaseDetails() %}
            {% set total = total + detail.total %}
        <tr>
            <td>{{ (k+1) }}</td>
            <td>{{ detail.item }}</td>
            <td style="text-align: right">{{ detail.quantity }}</td>
            <td style="text-align: right">{{ detail.packaging }}</td>
            <td style="text-align: right">{{ price(detail.price) }}</td>
            <td style="text-align: right">{{ price(detail.tax) }}</td>
            <td style="text-align: right">{{ price(detail.total) }}</td>
            <td>
                {% if data.getIsLocked() == false %}
                <form class="form-inline" method="post" action="{{ path('purchase_detail_delete', {'id': detail.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail.id) }}">
                    {{ link_to('purchase_detail_edit', {id: detail.id}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
                    {{ submit_tag('purchase_detail_delete', {id: detail.id}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6">{{ 'total'|trans }}</th>
            <th width="10%" style="text-align: right">{{ price(total) }}</th>
            <th></th>
        </tr>
    </tfoot>
</table>
