{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.code }}
{% endblock %}

{% block button_navigation %}
    <a href="{{ path('purchase_index') }}" class="btn btn-primary"><i class="fa fa-list"></i> {{ 'back'|trans }}</a>
{% endblock %}

{% block page %}
    
    {{ form_start(form) }}
    <table class="table table-hover table-bordered">
        <tbody>
            {{ include('pages/purchase/_detail.twig', {form: form, data: data}) }}
        </tbody>
    </table>
    {{ form_end(form) }}
    <div class="pull-right">
    {% if data.getIsLocked() == false %}
        {{ link_to('purchase_detail_create', {id: data.id}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'add_item'|trans ) }}
    {% endif %}
    </div>
    {{ include('pages/purchase/_purchase_detail.twig', {data: data}) }}
{% endblock %}