{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }} {{ 'purchase'|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th width="20%">{{ form_label(form.code) }}</th>
                <td>{{ form_widget(form.code) }}</td>
                <th width="20%">{{ form_label(form.supplier) }}</th>
                <td>{{ form_widget(form.supplier,{attr: {class: "select2-form"}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.purchase_at) }}</th>
                <td>{{ form_widget(form.purchase_at) }}</td>
                <th>{{ form_label(form.total) }}</th>
                <td>{{ form_widget(form.total) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.description) }}</th>
                <td colspan="3">{{ form_widget(form.description) }}</td>
            </tr>
        </tbody>
    </table>
    
    
{% endblock %}