{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('purchase_create', {}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'create'|trans ) }}    
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block page %}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'purchase_at'|trans }}</th>
                <th>{{ 'total'|trans }}</th>
                <th>{{ 'supplier'|trans }}</th>
                <th>{{ 'is_locked'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('pages/purchase/_filter.twig', {filter: filter}) }}
            {% for k, data in pagination %}
            <tr>
                <th scope="row">{{ (k+1) }}</th>
                <td>{{ data.code }}</td>
                <td>{{ data.purchaseAt|date('d M Y') }}</td>
                <td style="text-align: right">{{ price(data.total) }}</td>
                <td>{{ data.supplier }}</td>
                <td>{{ include('@SimpleAdmin/_boolean_field.twig', {is_check: data.isLocked}) }}</td>
                <td>
                    <form class="form-inline" method="post" action="{{ path('purchase_delete', {'id': data.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                        {{ link_to('purchase_detail', {id: data.id, object: data, action: ACTION_VIEW}, {class: 'btn btn-xs btn-primary'}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
                        {{ submit_tag('purchase_delete', {id: data.id, object: data, action: ACTION_DELETE}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}