{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.username }}
{% endblock %}


{% block content %}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'username'|trans }}</th>
                <td>{{ data.username }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <th>{{ 'roles'|trans }}</th>
                <td>
                    {{ include('pages/user/_role.twig', {roles: data.roles}) }}
                </td>
            </tr>
            <tr>
                <th>{{ 'is_active'|trans }}</th>
                <td>{{ include('_badge.twig', {is_success: data.isActive, is_danger: not data.isActive, label: data.isActive ? 'active'|trans : 'non_active'|trans}) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}