{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ 'user'|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    {{ form_widget(form) }}
    
{% endblock %}
