{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('kmj_user_create', {}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'create'|trans ) }}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block page %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'username'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'roles'|trans }}</th>
                <th>{{ 'is_active'|trans }}</th>
                <th>{{ 'store'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('pages/user/_filter.twig', {filter: filter}) }}
            {% for k, data in pagination %}
            <tr>
                <th scope="row">{{ (k+1) }}</th>
                <td>{{ data.username }}</td>
                <td>{{ data.name }}</td>
                <td>{{ include('pages/user/_role.twig', {roles: data.roles}) }}</td>
                <td>{{ include('_badge.twig', {is_success: data.isActive, is_danger: not data.isActive, label: data.isActive ? 'active'|trans : 'non_active'|trans}) }}</td>
                <td>{{ data.store }}</td>
                <td>
                    <form class="form-inline" method="post" action="{{ path('kmj_user_delete', {'id': data.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
                        
                        {{ link_to('kmj_user_edit', {id: data.id}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
                        {{ link_to('kmj_user_detail', {id: data.id}, {class: 'btn btn-xs btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                        {{ submit_tag('kmj_user_delete', {id: data.id}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                    
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}