<script src="{{ asset('bundles/simpleadmin/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('bundles/simpleadmin/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{ asset('bundles/simpleadmin/plugins/uniform/js/jquery.uniform.standalone.js')}}"></script>
<script src="{{ asset('bundles/simpleadmin/plugins/switchery/switchery.min.js')}}"></script>
<script src="{{ asset('bundles/simpleadmin/js/space.min.js')}}"></script>
<script src="{{ asset('assets/plugins/jquery-price-format/jquery.priceformat.min.js')}}"></script>
<script src="{{ asset('bundles/simpleadmin/js/modal-handle.js')}}"></script>
<script src="{{ asset('bundles/simpleadmin/plugins/select2/select2.min.js') }}"></script>
<script>
    $(document).ready(function (){
        handleModals();
        refreshPriceformat();
        $('.select2-form').select2();
    });
    
    $("#myModal").on("hidden.bs.modal",function(e) {
        $("#modal-content").html('<div style="text-align: center"><img src="{{ asset('bundles/simpleadmin/images/loading.gif') }}" style="width: 20px"/></div>');
    });
    
    function refreshPriceformat()
    {
        $('.priceformat').each(function( index ) {
            $(this).priceFormat({  
                allowNegative: true,
                prefix: '{{currencyFormat.getCurrencySymbol()}}',
                suffix: '',
                centsLimit: parseInt('{{currencyFormat.getCentLimit()}}') });
        });
    }
    
    function getFloatValue(string)
    {
        var arr = ["Rp", "Rp.", "Rp. ", ".", ","];
        for (i = 0; i < arr.length;i++) {
            while (string.includes(arr[i])) {
                string = string.replace(arr[i],'');
            }
        }

        return parseFloat(string);
    }
</script>