<ul class="accordion-menu">
    {% set activeRoute = app.session.get('active_route', 'admin_index') %}
    {% set activeRouteGroup = app.session.get('active_route_group', '') %}
    <li class="{{(activeRoute == 'admin_index') ? 'active-page': ''}}">
        <a href="{{ path('admin_index') }}">
            <i class="menu-icon icon-home"></i><span>{{ 'home'|trans }}</span>
        </a>
    </li>
    {% for key, routes in routingService.getIndexRoute(true) %}
        {% set haveSub = (routes is iterable) ? true: false %}
        {% if haveSub %}
        <li class="{{(activeRouteGroup == key) ? 'active-page': ''}}">
            <a href="javascript:void(0)">
                <i class="menu-icon icon-flash_on"></i><span>{{ key|trans }}</span>
                <i class="accordion-icon fa fa-angle-left"></i>
            </a>

            <ul class="sub-menu">
            {% for path, route in routes %}
                <li class="{{(activeRoute == path) ? 'active-page': ''}}"><a href="{{ path(path) }}">{{ path|trans }}</a></li>
            {% endfor %}
            </ul>

        </li>
        {% else %}
        <li class="">
            <a href="{{ path(key) }}">
                <i class="menu-icon icon-flash_on"></i><span>{{ key|trans }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
    <li>
        <a href="{{ path('app_documentation') }}">
            <i class="fa fa-file"></i> &nbsp; &nbsp; <span>{{ 'documentation'|trans }}</span>
        </a>
    </li>
</ul>