<ul class="nav navbar-nav navbar-right">
    <li class="drop-title">{{ app.user.name }}</li>
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('assets/images/user-profile.png') }}" alt="" class="img-circle"></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('kmj_user_profile') }}" data-toggle="modal" data-target="#myModal">{{ 'profile'|trans }}</a></li>
            <li><a href="{{ path('kmj_user_change_password') }}">{{ 'change_password'|trans }}</a></li>
            <li><a href="{{ path('kmj_user_logout') }}">{{ 'logout'|trans }}</a></li>
        </ul>
    </li>
</ul>