{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" name="submit" value="1" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th width="20%">{{ form_label(form.item) }}</th>
                <td>{{ form_widget(form.item, {attr: {class: "select2-form"}}) }}</td>
                <th width="20%">{{ form_label(form.quantity) }} <span id="packageText"></span></th>
                <td>{{ form_widget(form.quantity, {attr: {'style': 'text-align: right'}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.sale_price) }}</th>
                <td>{{ form_widget(form.sale_price, {attr: {'style': 'text-align: right'}}) }}</td>
                <th>{{ form_label(form.sub_total) }}</th>
                <td>{{ form_widget(form.sub_total, {attr: {'style': 'text-align: right'}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.tax) }}</th>
                <td>{{ form_widget(form.tax, {attr: {'style': 'text-align: right'}}) }}</td>
                <th>{{ form_label(form.total) }}</th>
                <td>{{ form_widget(form.total, {attr: {'style': 'text-align: right'}}) }}</td>
            </tr>
        </tbody>
    </table>
            
    {{ form_widget(form) }}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/kmj-purchase.js')}}"></script>
    <script>
    $('#sale_item_item').change(function() {
        $.ajax({
            url : "{{path("item_data")}}",
            type: "GET",
            data : {q: $(this).val()},
            beforeSend: function(e){
                $('#sale_item_sale_price').val('{{'get_data'|trans}}');
            },
            success: function(response) {
                $('#sale_item_sale_price').val(response.last_price);
                $('#packageText').html("(" + response.smallest_package + ")");
                refreshPriceformat();
                setSubTotal();
            }
        });
    });
    
    $("#sale_item_quantity").change(function () {
        setSubTotal();
    });
    
    $("#sale_item_tax").change(function () {
        updateTotal();
    });
    
    function getSalePrice()
    {
        return getFloatValue($('#sale_item_sale_price').val());
    }
    
    function getQuantity()
    {
        return getFloatValue($('#sale_item_quantity').val());
    }
    
    function getTax()
    {
        return getFloatValue($('#sale_item_tax').val());
    }
    
    function setSubTotal()
    {
        $("#sale_item_sub_total").val(getSubTotal());
        updateTotal();
        refreshPriceformat();
    }
    
    function getSubTotal()
    {
        let subTotal = getQuantity() * getSalePrice();
        return subTotal;
    }
    
    function updateTotal()
    {
        let total = getSubTotal() + getTax();
        $("#sale_item_total").val(total);
        refreshPriceformat();
    }
    </script>
{% endblock %}