{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.name }}
{% endblock %}


{% block content %}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'name'|trans }}</th>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <th>{{ 'address'|trans }}</th>
                <td>{{ data.address }}</td>
            </tr>
            <tr>
                <th>{{ 'phone'|trans }}</th>
                <td>{{ data.phone }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}