{% set label = (label is defined) ? label : '' %}
{% if is_success is defined and is_success %}
    <span class="fa fa-bell" style="color: green"></span>
    {% set labelType = 'label-success' %}
{% elseif is_danger is defined and is_danger %}
    <span class="fa fa-close" style="color: red"></span>
    {% set labelType = 'label-danger' %}
{% elseif is_primary is defined and is_primary %}
    <span class="fa fa-check" style="color: blue"></span>
    {% set labelType = 'label-primary' %}
{% endif %}
{% if label|length >0 %}
    <span class="label {{labelType}}">{{ label }}</span>
{% endif %}