{% extends "@SimpleAdmin/page_layout.html.twig" %}

{% block breadcrumb %}
    {{ kmj_breadcrumb() }}
{% endblock %}

{% block app_name_responsive %} {{ app_name }} {% endblock %}
{% block app_name %} {{ app_name }} {% endblock %}