{{form_start(filter)}}
<tr>
    <th>#</th>
    <th>{{ form_widget(filter.code) }}</th>
    <th>{{ form_widget(filter.name) }}</th>
    <th>{{ form_widget(filter.category) }}</th>
    <!--<th>{{ form_widget(filter.use_barcode) }}</th>-->
    <th>
        <div class="col-lg-6">{{ form_widget(filter.last_stock.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.last_stock.to) }}</div>
    </th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.harga_pokok.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.harga_pokok.to) }}</div>
    </th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.last_price.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.last_price.to) }}</div>
    </th>
    <th>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('item_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </th>
</tr>
{{form_end(filter)}}