<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="15%">{{ 'created_at'|trans }}</th>
            <th width="15%">{{ 'inserted_by'|trans }}</th>
            <th>{{ 'principal_price_old'|trans }}</th>
            <th>{{ 'principal_price'|trans }}</th>
            <th>{{ 'sale_price_old'|trans }}</th>
            <th>{{ 'sale_price'|trans }}</th>
            <th>{{ 'approved_by'|trans }}</th>
            <th>{{ 'status'|trans }}</th>
            <th>{{ 'actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for priceLog in item.getItemPriceLogs() %}
        <tr>
            <td>{{ priceLog.createdAt|date('d M Y H:i') }}</td>
            <td>{{ priceLog.insertedBy }}</td>
            <td style="text-align: right">{{ price(priceLog.principalPriceOld ? priceLog.principalPriceOld : 0) }}</td>
            <td style="text-align: right">{{ price(priceLog.principalPrice ? priceLog.principalPrice : 0) }}</td>
            <td style="text-align: right">{{ price(priceLog.salePriceOld ? priceLog.salePriceOld : 0) }}</td>
            <td style="text-align: right">{{ price(priceLog.salePrice ? priceLog.salePrice : 0) }}</td>
            <td>{{ priceLog.approvedBy }}</td>
            <td>
                {{ include('_badge.twig', {label: priceLog.getStatusString()|trans,is_primary: priceLog.isApproved, is_danger: priceLog.isRejected, is_success: priceLog.isNew}) }}
            </td>
            <td>
                {% if priceLog.isNew() %}
                    {{ link_to('item_price_log_approval', {id: priceLog.getId()}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-check"></i> ' ~ 'approval'|trans ) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>