<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="15%">{{ 'created_at'|trans }}</th>
            <th>{{ 'class_name'|trans }}</th>
            <th>{{ 'type'|trans }}</th>
            <th>{{ 'quantity'|trans }}</th>
            <th>{{ 'total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for k, stockCard in item.getStockCards() %}
            <tr>
                <td>{{ stockCard.createdAt|date('d M Y H:i') }}</td>
                <td>{{ stockCard.className|trans }}</td>
                <td>{{ stockCard.type }}</td>
                <td>{{ stockCard.quantity }}</td>
                <td>{{ stockCard.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>