{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.code }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('item_package_create', {id: data.id}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'add'|trans ~ ' ' ~ 'package'|trans ) }}
    <a href="{{ path('item_index') }}" class="btn btn-primary"><i class="fa fa-list"></i> {{ 'back'|trans }}</a>
{% endblock %}

{% block page %}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'code'|trans }}</th>
                <td>{{ data.code }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <th>{{ 'item_category'|trans }}</th>
                <td>{{ data.category }}</td>
            </tr>
            <tr>
                <th>{{ 'use_barcode'|trans }}</th>
                <td>{{ include('@SimpleAdmin/_boolean_field.twig', {is_check: data.useBarcode}) }}</td>
            </tr>
            <tr>
                <th>{{ 'last_stock'|trans }}</th>
                <td>{{ data.lastStock }}</td>
            </tr>
            <tr>
                <th>{{ 'harga_pokok'|trans }}</th>
                <td>{{ price(data.hargaPokok ? data.hargaPokok : 0) }}</td>
            </tr>
            <tr>
                <th>{{ 'last_price'|trans }}</th>
                <td>{{ price(data.lastPrice ? data.lastPrice : 0) }}</td>
            </tr>
        </tbody>
    </table>
    
    {% set tab = (app.request.get('tab')) ? app.request.get('tab') : 'package' %}
    <ul class="nav nav-tabs">
        <li class="{{(tab == 'package') ? 'active':''}}">
            <a href="#package" data-toggle="tab"> {{ 'package'|trans }}</a>
        </li>
        <li class="{{(tab == 'stock_card') ? 'active':''}}">
            <a href="#stock_card" data-toggle="tab"> {{ 'stock_card'|trans }}</a>
        </li>
        <li class="{{(tab == 'price_log') ? 'active':''}}">
            <a href="#price_log" data-toggle="tab"> {{ 'price_log'|trans }}</a>
        </li>
    </ul>    
    <div class="tab-content">
        <div class="tab-pane fade in {{(tab == 'package') ? 'active':''}}" id="package">
            {{ include('pages/item-package/_list.twig', {item: data}) }}
        </div>
        <div class="tab-pane fade in {{(tab == 'stock_card') ? 'active':''}}" id="stock_card">
            {{ include('pages/item/_stock_card.twig', {item: data}) }}
        </div>
        <div class="tab-pane fade in {{(tab == 'price_log') ? 'active':''}}" id="price_log">
            {{ include('pages/item/_price_log.twig', {item: data}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            let query = [];
            let q = window.location.href.split('?');
            if (typeof q[1] !== 'undefined') {
                q = q[1].split('&');
                let filters = [];
                q.forEach(function (item){
                    let x = item.split('=');
                    if(x[0] != 'tab' && x[0] != 'subTab') {
                        query.push(item);
                    }
                    
                });
                
            }
            let target = $(e.target).attr("href");
            let parentTab = $(e.target).attr("parent-tab");
            if(parentTab) {
                query.push('tab=' + parentTab);
                query.push('subTab=' + target.replace('#', ''));
            } else {
                query.push('tab=' + target.replace('#', ''));
            }
            
        window.history.replaceState({tab: 'item'}, 'detail', '?' + query.join('&'));
        });
    </script>
{% endblock %}