{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th width="20%">{{ form_label(form.code) }}</th>
                <td>{{ form_widget(form.code) }}</td>
                <th width="20%">{{ form_label(form.name) }}</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.last_stock) }}</th>
                <td>{{ form_widget(form.last_stock) }}</td>
                <th>{{ form_label(form.category) }}</th>
                <td>{{ form_widget(form.category) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.harga_pokok) }}</th>
                <td>{{ form_widget(form.harga_pokok, {attr: {style: 'text-align: right'}}) }}</td>
                <th>{{ form_label(form.last_price) }}</th>
                <td>{{ form_widget(form.last_price, {attr: {style: 'text-align: right'}}) }}</td>
            </tr>
            <tr>
                <td colspan="4">{{ form_widget(form.use_barcode) }}</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
