{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('item_import', {}, {class: 'btn btn-warning', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-upload"></i> ' ~ 'import'|trans ) }}
    {{ link_to('item_import_stock', {}, {class: 'btn btn-warning', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-upload"></i> ' ~ 'import_stock'|trans ) }}
    {{ link_to('item_export', {}, {class: 'btn btn-info'}, '<i class="fa fa-file"></i> ' ~ 'export'|trans ) }}
    {{ link_to('item_price_approval_list', {}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-history"></i> ' ~ 'approval_price'|trans ~ ' <span class="badge badge-danger">'~ approval_price_count ~'</span>' ) }}
    {{ link_to('item_create', {}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'create'|trans ) }}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block page %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'item_category'|trans }}</th>
                <!--<th>{{ 'use_barcode'|trans }}</th>-->
                <th>{{ 'last_stock'|trans }}</th>
                <th>{{ 'harga_pokok'|trans }}</th>
                <th>{{ 'last_price'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('pages/item/_filter.twig', {filter: filter}) }}

            {% for k, data in pagination %}
            <tr>
                <th scope="row">{{ (k+1) }}</th>
                <td>{{ data.code }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.category }}</td>
                <!--<td>{{ include('@SimpleAdmin/_boolean_field.twig', {is_check: data.useBarcode}) }}</td>-->
                <td style="text-align: right">{{ data.lastStock }}</td>
                <td style="text-align: right">{{ price(data.hargaPokok) }}</td>
                <td style="text-align: right">{{ price(data.lastPrice) }}</td>
                <td>
                    <form class="form-inline" method="post" action="{{ path('item_delete', {'id': data.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
                        {{ link_to('item_edit', {id: data.id, object: data, action: ACTION_EDIT}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
                        {{ link_to('item_detail', {id: data.id, object: data, action: ACTION_VIEW}, {class: 'btn btn-xs btn-primary'}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                        {{ submit_tag('item_delete', {id: data.id, object: data, action: ACTION_DELETE}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
