{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'last_price'|trans }}</th>
                <th>{{ 'harga_pokok'|trans }}</th>
                <th>{{ 'new_principal_price'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{ data.code }}</td>
                <td>{{ data.name }}</td>
                <td style="text-align: right">{{ price(data.last_price) }}</td>
                <td style="text-align: right">{{ price(data.harga_pokok) }}</td>
                <td style="text-align: right">{{ price(data.new_principal_price) }}</td>
                <td>
                    {{ link_to('item_detail', {id: data.id, params: {tab: 'price_log'}}, {class: 'btn btn-xs btn-primary'}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
