{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }} : {{ data.code }}
{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'code'|trans }}</th>
                <td>{{ data.code }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <th>{{ 'is_active'|trans }}</th>
                <td>{{ include('@SimpleAdmin/_boolean_field.twig', {is_check: data.isActive}) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}