<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="20%">{{ 'packaging'|trans }}</th>
            <th width="15%">{{ 'is_smallest_unit'|trans }}</th>
            <th width="15%">{{ 'quantity'|trans }}</th>
            <!--<th width="15%">{{ 'principal_price'|trans }}</th>
            <th width="15%">{{ 'sale_price'|trans }}</th>-->
            <th>{{ 'actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for k, detail in item.getItemPackages() %}
        <tr>
            <td>{{ (k+1) }}</td>
            <td>{{ detail.packaging }}</td>
            <td>{{ include('@SimpleAdmin/_boolean_field.twig', {is_check: detail.isSmallestUnit}) }}</td>
            <td>{{ detail.quantity }}</td>
            <!--<td style="text-align: right">{{ price(detail.principalPrice) }}</td>
            <td style="text-align: right">{{ price(detail.salePrice) }}</td>-->
            <td>
                <form class="form-inline" method="post" action="{{ path('item_package_delete', {'id': detail.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail.id) }}">
                    {{ link_to('item_package_edit', {id: data.id}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
                    {{ submit_tag('item_package_delete', {id: data.id}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>