{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" name="submit" value="1" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    {{ form_widget(form) }}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $("#item_package_is_smallest_unit").on("click", function(event){
        updateQuantity();
    });
    
    $(function(){
        updateQuantity();
    });
    
    function updateQuantity()
    {
        var $isSmallestUnit = $("#item_package_is_smallest_unit");
        var $quantity = $('#item_package_quantity');
        if($isSmallestUnit.is(':checked'))
        {
            $quantity.attr('readonly', true);
            $quantity.attr('max', 1);
            $quantity.attr('min', 1);
            $quantity.val(1);
        } else
        {
            $quantity.attr('readonly', false);
            $quantity.attr('max', null  );
            $quantity.attr('min', 2);
            $quantity.val(2);
        }
    }
    </script>
{% endblock %}
