{{form_start(filter)}}
<tr>
    <th>#</th>
    <th>{{ form_widget(filter.kmj_user) }}</th>
    <th>{{ form_widget(filter.computer_name) }}</th>
    <th>{{ form_widget(filter.printer_name) }}</th>
    <!--<th>{{ form_widget(filter.is_default) }}</th>-->
    <th>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('kmj_printer_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </th>
</tr>
{{form_end(filter)}}