{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.printerName }}
{% endblock %}


{% block content %}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'name'|trans }}</th>
                <td>{{ data.kmjUser.name }}</td>
            </tr>
            <tr>
                <th>{{ 'computer_name'|trans }}</th>
                <td>{{ data.computerName }}</td>
            </tr>
            <tr>
                <th>{{ 'printer_name'|trans }}</th>
                <td>
                    {{ data.printerName }}
                </td>
            </tr>
            <!--<tr>
                <th>{{ 'is_default'|trans }}</th>
                <td>
                    {{ include('_badge.twig', {is_success: data.isDefault, is_danger: not data.isDefault, label: data.isDefault ? 'yes'|trans : 'no'|trans}) }}
                </td>
            </tr>-->
        </tbody>
    </table>
{% endblock %}