{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('kmj_printer_create', {}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'create'|trans ) }}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block page %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'computer_name'|trans }}</th>
                <th>{{ 'printer_name'|trans }}</th>
                <!--<th>{{ 'is_default'|trans }}</th>-->
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('pages/printer/_filter.twig', {filter: filter}) }}
            {% for k, data in pagination %}
            <tr>
                <th scope="row">{{ (k+1) }}</th>
                <td>{{ data.kmjUser.name }}</td>
                <td>{{ data.computerName }}</td>
                <td>{{ data.printerName }}</td>
                <!--<td>{{ include('_badge.twig', {is_success: data.isDefault, is_danger: not data.isDefault, label: data.isDefault ? 'yes'|trans : 'no'|trans}) }}</td>-->
                <td>
                    <form class="form-inline" method="post" action="{{ path('kmj_printer_delete', {'id': data.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
                        
                        {{ link_to('kmj_printer_edit', {id: data.id}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
                        {{ link_to('kmj_printer_detail', {id: data.id}, {class: 'btn btn-xs btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                        {{ submit_tag('kmj_printer_delete', {id: data.id}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                    
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}