{{form_start(filter)}}
<tr>
    <th>#</th>
    <th>{{ form_widget(filter.store, {attr: {class: "select2-form"}}) }}</th>
    <th>{{ form_widget(filter.code) }}</th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.created_at.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.created_at.to) }}</div>
    </th>
    <th>{{ form_widget(filter.created_by) }}</th>
    <th>{{ form_widget(filter.customer, {attr: {class: "select2-form"}}) }}</th>
    <!--<th>
        <div class="col-lg-6">{# form_widget(filter.sub_total.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.sub_total.to) }}</div>
    </th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.tax.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.tax.to) #}</div>
    </th>-->
    <th>
        <div class="col-lg-6">{{ form_widget(filter.total.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.total.to) }}</div>
    </th>
    <th>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('sale_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </th>
</tr>
{{form_end(filter)}}