{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }} {{ 'sale'|trans }}: {{ data.code }}
{% endblock %}

{% block button_navigation %}
    <a href="{{ path('sale_index') }}" class="btn btn-primary"><i class="fa fa-list"></i> {{ 'back'|trans }}</a>
{% endblock %}

{% block page %}
    {{ form_start(form) }}
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="30%">{{ 'code'|trans }}</th>
                <td>{{ form_widget(form.code) }}</td>
            </tr>
            <tr>
                <th>{{ 'customer'|trans }}</th>
                <td>{{ form_widget(form.customer, {attr: {class: "select2-form"}}) }}</td>
            </tr>
            <tr>
                <th>{{ 'store'|trans }}</th>
                <td>{{ form_widget(form.store, {attr: {class: "select2-form"}}) }}</td>
            </tr>
            {% if data.getIsLocked() %}
                <tr>
                    <th>{{ 'is_locked'|trans }}</th>
                    <td>
                        {{ include('@SimpleAdmin/_boolean_field.twig', {is_check: data.getIsLocked}) }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
    
    <div class="pull-right">
        
    {% if data.getIsLocked() == false %}
        <button type="submit" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> {{ 'save'|trans }} <em class="shortcut-label">(ctrl+s)</em></button>
        {{ link_to('sale_item_create', {id: data.id}, {class: 'btn btn-primary', "id": "btnAdd", "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'add_item'|trans ~ ' <em class="shortcut-label">(ctrl+a)</em>' ) }}
    
    {% else %}
        {{ link_to('sale_printout', {id: data.id, object: data, action: 'print'}, {class: 'btn btn-primary', "id": "btnPrint"}, '<i class="fa fa-print"></i> ' ~ 'print'|trans ~ ' <em class="shortcut-label">(ctrl+p)</em>') }}
        {{ link_to('sale_payment', {id: data.id, object: data, action: 'pay'}, {class: 'btn btn-success', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-money"></i> ' ~ 'payment'|trans ) }}
    {% endif %}
    </div>
    
    {{ include('pages/sale/_sale_item.twig', {data: data, form: form}) }}
    
    
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('assets/js/hotkeys.min.js')}}"></script>
<script>
    
    hotkeys('ctrl+a,ctrl+s,ctrl+x,ctrl+d, ctrl+p, ctrl+c', function (event, handler){
        
        event.preventDefault();
        switch (handler.key) {
            case 'ctrl+a':
                $("#btnAdd").click();
                break;
            case 'ctrl+s':
                $("#btnSave").click();
                break;
            case 'ctrl+x':
                $('#sale_tax').focus();
                break;
            case 'ctrl+d':
                $('#sale_discount').focus();
                break;
            case 'ctrl+p':
                {% if data.getIsLocked() %}
                    window.location.href = "{{path('sale_printout', {id: data.id})}}";
                {% else %}
                    $('#sale_payment').focus();
                {% endif %}
                break;
            case 'ctrl+c':
                $('#sale_is_locked').prop('checked', !$('#sale_is_locked').is(':checked'));
                $.uniform.update();
                break;
            default: alert(event);
        }
    });
    
    $(function(){
        $('.btn-delete').each(function (){
            let token = $(this).attr('_token');
            $(this).on("click",function(e) {
            e.preventDefault();
            $.ajax({
                url: this.href,
                type: 'POST',
                data: {_token: token, _method: 'DELETE'},
                success: function (e){
                    if(e.status)
                    {
                        location.reload();
                    }else
                    {
                        alert(e.message);
                    }
                }, 
                error: function () {
                    alert('error');
                }
            });
          });
        });
    });
    
    function getTax()
    {
        return parseFloat($("#sale_tax").unmask());
    }
    function getDiscount()
    {
        return parseFloat($("#sale_discount").unmask());
    }
    function getPayment()
    {
        return parseFloat($("#sale_payment").unmask());
    }
    function getSubTotal()
    {
        return parseFloat($("#sale_sub_total").unmask());
    }
    function getTotal()
    {
        return parseFloat($("#sale_total").unmask());
    }
    
    function countTotal()
    {
        let total = (getSubTotal() + getTax()) - getDiscount();
        $("#sale_total").val(total);
        countPaymentChange();
    }
    function countPaymentChange()
    {
        let change = getPayment() - getTotal();
        $("#sale_payment_change").val(change);
        refreshPriceformat();
    }
</script>
{% endblock %}
    