{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}  {{ 'sale'|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    <table class="table">
        <tbody>
            <tr>
                <th width="20%">{{ form_label(form.code) }}</th>
                <td>{{ form_widget(form.code) }}</td>
                <th width="20%">{{ form_label(form.customer) }}</th>
                <td>{{ form_widget(form.customer, {attr: {class: "select2-form"}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.sub_total) }}</th>
                <td>{{ form_widget(form.sub_total, {attr: {readonly: true}}) }}</td>
                <th>{{ form_label(form.tax) }}</th>
                <td>{{ form_widget(form.tax, {attr: {readonly: true}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.discount) }}</th>
                <td>{{ form_widget(form.discount, {attr: {readonly: true}}) }}</td>
                <th>{{ form_label(form.payment) }}</th>
                <td>{{ form_widget(form.payment, {attr: {readonly: true}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.payment_change) }}</th>
                <td>{{ form_widget(form.payment_change, {attr: {readonly: true}}) }}</td>
                <th>{{ form_label(form.total) }}</th>
                <td>{{ form_widget(form.total, {attr: {readonly: true}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.store) }}</th>
                <td colspan="3">{{ form_widget(form.store, {attr: {class: "select2-form"}}) }}</td>
            </tr>
        </tbody>
    </table>
    
    
{% endblock %}