{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('sale_create', {}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'create'|trans ) }}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block page %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'store'|trans }}</th>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'created_at'|trans }}</th>
                <th>{{ 'created_by'|trans }}</th>
                <th>{{ 'customer'|trans }}</th>
                <th>{{ 'total'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('pages/sale/_filter.twig', {filter: filter}) }}
            {% for k, data in pagination %}
            <tr>
                <th scope="row">{{ (k+1) }}</th>
                <td>{{ data.store }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.createdAt|date('d M Y :H:i') }}</td>
                <td>{{ data.createdBy }}</td>
                <td>{{ data.customer }}</td>
                <td style="text-align: right">{{ price(data.total) }}</td>
                <td>
                    <form class="form-inline" method="post" action="{{ path('sale_delete', {'id': data.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
                        {{ submit_tag('sale_delete', {id: data.id, object: data, action: ACTION_DELETE}, {class: 'btn btn-xs btn-danger'}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                    </form>
                    {{ link_to('sale_detail', {id: data.id, object: data, action: ACTION_VIEW}, {class: 'btn btn-xs btn-primary'}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                    {{ link_to('sale_payment', {id: data.id, object: data, action: 'pay'}, {class: 'btn btn-xs btn-success', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-money"></i> ' ~ 'payment'|trans ) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}