{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ data.code }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th width="20%">{{ form_label(form.code) }}</th>
                <td>{{ form_widget(form.code) }}</td>
                <th width="20%">{{ 'customer'|trans }}</th>
                <td>
                    {{ form.vars.value.customer }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.sub_total) }}</th>
                <td>{{ form_widget(form.sub_total, {attr: {readonly: true}}) }}</td>
                <th>{{ form_label(form.tax) }}</th>
                <td>{{ form_widget(form.tax, {attr: {readonly: true}}) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.discount) }}</th>
                <td>{{ form_widget(form.discount, {attr: {readonly: true}}) }}</td>
                <th>{{ form_label(form.total) }}</th>
                <td>{{ form_widget(form.total, {attr: {readonly: true}}) }}</td>
            </tr><tr>
                <th>{{ form_label(form.payment) }}</th>
                <td>{{ form_widget(form.payment, {attr: {onchange: 'return countPaymentChange()'}}) }}</td>
                <th>{{ form_label(form.payment_change) }}</th>
                <td>{{ form_widget(form.payment_change, {attr: {readonly: true}}) }}</td>
            </tr>
            
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    function getPayment()
    {
        return parseFloat($("#sale_payment").unmask());
    }
    
    function getTotal()
    {
        return parseFloat($("#sale_total").unmask());
    }
    
    function countPaymentChange()
    {
        let change = getPayment() - getTotal();
        $("#sale_payment_change").val(change);
        refreshPriceformat();
    }
</script>
{% endblock %}