{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block page %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'roles'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for role in roles %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ role|trans }}</td>
                    <td>
                        <a href="{{ path('kmj_routing_roles', {role: role}) }}" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> {{ 'roles'|trans }}</a>
                    </td>
                </tr>    
                {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}