{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }} {{ 'roles'|trans }}: {{ role|trans }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
{% endblock %}

{% block form_start %}
    <form method="POST" action="{{ path('kmj_routing_roles', {'role': role}) }}" id="ajaxForm">
    <input type="hidden" name="_token" value="{{ csrf_token('kmj_routing_roles_'~role) }}">
{% endblock %}

{% block form_end %}
    </form>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover">
        <!--<thead>
            <tr>
                <th></th>
            </tr>
        </thead>-->
        <tbody>
            {% for key, routes in routers %}
            <tr>
                <td colspan="2">
                    <strong>
                        <input type="checkbox" id="{{ key }}" onclick="checkAll(this)"/>
                        <label for="{{ key }}">{{ key|trans }}</label>
                    </strong>
                </td>
            </tr>
            
            {% for path, route in routes %}
                {% set baseLabel = path|replace({'_index': ''}) %}
                <tr>
                    <td>
                        <strong>
                            <input type="checkbox" id="{{ baseLabel }}" class="{{key}}" onclick="checkAll(this)"/>
                            <label for="{{ baseLabel }}">{{ baseLabel|trans }}</label>
                        </strong>
                    </td>
                    <td>
                        <ul>
                            {% for k, router in routingService.getOtherPath(path) %}
                            {% set label = k|replace({(baseLabel~'_'): ''}) %}
                            <li>
                                <input type="checkbox" id="select_{{ k }}" 
                                       class="{{key}} {{baseLabel}}" 
                                       name="credential[{{key}}][{{ path }}][{{ k }}]" 
                                       {{(credentials[k] is defined and credentials[k].isAllowed())?'checked':'' }}/>
                                <label for="select_{{ k }}">{{ label|trans }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    function checkAll(obj)
    {
        $( "."+obj.id).each(function( index ) {
            $( this ).prop( "checked", obj.checked );
        });
    }
    </script>
{% endblock %}
    