{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('report_profit_print', {}, {class: 'btn btn-primary'}, '<i class="fa fa-file"></i> ' ~ 'export'|trans ) }}
{% endblock %}

{% block page %}
    
    {{ myreport|raw }}
    
{% endblock %}