{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}: {{ now|date('M Y') }}
{% endblock %}

{% block button_navigation %}
    <button class="btn btn-success" data-toggle="collapse" data-target="#filter"><i class="fa fa-search"></i> {{ 'filter'|trans }}</button>
    {{ link_to('report_transaction_print', {}, {class: 'btn btn-primary'}, '<i class="fa fa-file"></i> ' ~ 'export'|trans ) }}
{% endblock %}

{% block page %}
    <div class="row">
        <div id="filter" class="collapse" style="padding-left: 25%;padding-right: 25%">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <div class="pull-right">
                <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
                <a href="{{path('report_transaction_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
        
    
    <div id="trasaction">
        <h4 style="text-align: center">{{ 'rekap_transaksi'|trans }}</h4>
        <h3 style="text-align: center">{{ app_company }}</h3> 
        <h5 style="text-align: center">{{ now|date('M Y') }}</h5><hr/>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                    <th style="text-align: right">{{ 'in'|trans }}</th>
                    <th style="text-align: right">{{ 'out'|trans }}</th>
                    <th style="text-align: right">{{ 'balance'|trans }}</th>
                    <th style="text-align: right">{{ 'approved_by'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% set debt = 0 %}
                {% set credit = 0 %}
                {% for transaction in data %}
                    {% set debt = debt + transaction.totalDebt %}
                    {% set credit = credit + transaction.totalCredit %}
                    <tr>
                        <td>{{ transaction.createdAt|date('d M Y') }}</td>
                        <td>{{ transaction.description}}</td>
                        <td style="text-align: right">{{ price(transaction.totalDebt)}}</td>
                        <td style="text-align: right">{{ price(transaction.totalCredit)}}</td>
                        <td style="text-align: right">{{ price(transaction.totalDebt - transaction.totalCredit)}}</td>
                        <td style="text-align: right">{{ transaction.approvedBy }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">{{ 'total'|trans }}</th>
                    <th style="text-align: right">{{ price(debt)}}</th>
                    <th style="text-align: right">{{ price(credit)}}</th>
                    <th style="text-align: right">{{ price(debt - credit)}}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    
{% endblock %}