{{form_start(filter)}}
<tr>
    <th>#</th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.created_at.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.created_at.to) }}</div>
    </th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.total_debt.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.total_debt.to) }}</div>
    </th>
    <th>
        <div class="col-lg-6">{{ form_widget(filter.total_credit.from) }}</div>
        <div class="col-lg-6">{{ form_widget(filter.total_credit.to) }}</div>
    </th>
    <th>{{ form_widget(filter.delegated_by) }}</th>
    <th>{{ form_widget(filter.approved_by) }}</th>
    <th>{{ form_widget(filter.description) }}</th>
    <th>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('eod_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </th>
</tr>
{{form_end(filter)}}