<table class="table table-hover table-bordered">
    <thead>
        <th width="3%">#</th>
        <th>{{ 'item'|trans }}</th>
        <th style="text-align: right">{{ 'quantity'|trans }}</th>
        <th width="15%" style="text-align: right">{{ 'sale_price'|trans }}</th>
        <th width="15%" style="text-align: right">{{ 'sub_total'|trans }}</th>
        <th width="15%" style="text-align: right">{{ 'tax'|trans }}</th>
        <th width="15%" style="text-align: right">{{ 'total'|trans }}</th>
        <th>{{ 'actions'|trans }}</th>
    </thead>
    <tbody>
        {% set i = 1 %}
        {% set total = 0 %}
        {% for item_sale in data.getSaleItems() %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ item_sale.item }}</td>
                <td style="text-align: right">{{ item_sale.quantity }} {{ (item_sale.item.getSmallestPackages()) ? item_sale.item.getSmallestPackages().packaging.name:'' }}</td>
                <td style="text-align: right">{{ price(item_sale.getSalePrice()) }}</td>
                <td style="text-align: right">{{ price(item_sale.getSubTotal()) }}</td>
                <td style="text-align: right">{{ price(item_sale.getTax()) }}</td>
                <td style="text-align: right">{{ price(item_sale.getTotal()) }}</td>
                <td>
                    {% if data.getIsLocked() == false %}
                        {{ link_to('sale_item_edit', {id: item_sale.id}, {class: 'btn btn-xs btn-info', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-edit"></i> ' ~ 'edit'|trans ) }}
                        {{ link_to('sale_item_delete', {id: item_sale.id}, {class: 'btn btn-xs btn-danger btn-delete', "_token": csrf_token('delete' ~ item_sale.id), onclick: "return confirm('"~ 'confirm.delete'|trans ~"');"}, '<i class="fa fa-trash-o"></i> ' ~ 'delete'|trans ) }}
                    {% endif %}
                </td>
            </tr>
            {% set total = total + item_sale.getTotal() %}
            {% set i = i + 1 %}
        {% endfor %}
    </tbody>
    
    <tfoot>
        <tr>
            <th colspan="4">{{ 'tax'|trans }} <em class="shortcut-label">(ctrl+x)</em></th>
            <th>{{ form_widget(form.tax, {attr: {onchange: 'return countTotal()'}}) }}</th>
            <th>{{ 'sub_total'|trans }}</th>
            <th width="10%">{{ form_widget(form.sub_total, {value: total, attr:{readonly: true}}) }}</th>
            <th></th>
        </tr>
        <tr>
            <th colspan="4">{{ 'discount'|trans }} <em class="shortcut-label">(ctrl+d)</em></th>
            <th>{{ form_widget(form.discount, {attr: {onchange: 'return countTotal()'}}) }}</th>
            <th>{{ 'total'|trans }}</th>
            <th>{{ form_widget(form.total, {attr:{readonly: true}}) }}</th>
            <th></th>
        </tr>
        <tr>
            <th colspan="4">{{ 'payment'|trans }} <em class="shortcut-label">(ctrl+p)</em></th>
            <th>{{ form_widget(form.payment, {attr: {onchange: 'return countPaymentChange()'}}) }}</th>
            <th>{{ 'payment_change'|trans }}</th>
            <th>{{ form_widget(form.payment_change, {attr:{readonly: true}}) }}</th>
            <th></th>
        </tr>
        <tr>
            <th colspan="8">
                {{ include('pages/sale/_locked.twig', {form: form, data: data}) }}
            </th>
        </tr>
    </tfoot>
    
</table>
