{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }} {{ 'eod'|trans }}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th style="text-align: right">{{ 'in'|trans }}</th>
                <th style="text-align: right">{{ 'out'|trans }}</th>
                <th style="text-align: right">{{ 'balance'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% set debt = 0 %}
            {% set credit = 0 %}
            {% for transaction in datas %}
                {% set debt = debt + transaction.debt %}
                {% set credit = credit + transaction.credit %}
                <tr>
                    <td>{{ transaction.code}}</td>
                    <td>{{ transaction.description}}</td>
                    <td style="text-align: right">{{ price(transaction.debt)}}</td>
                    <td style="text-align: right">{{ price(transaction.credit)}}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">{{ 'total'|trans }}</th>
                <th style="text-align: right">{{ price(data.totalDebt)}}</th>
                <th style="text-align: right">{{ price(data.totalCredit)}}</th>
                <th style="text-align: right">{{ price(debt - credit)}}</th>
            </tr>
            <tr>
                <th colspan="2">{{ 'delegated_by'|trans }}</th>
                <th colspan="3">{{ data.delegatedBy }}</th>
            </tr>
            <tr>
                <th colspan="2">{{ 'description'|trans}}</th>
                <th colspan="3">{{ data.description }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}