{% extends "modal-layout.html.twig" %}

{% block title %}
    {{ title|trans }}  {{ 'sale'|trans }}
{% endblock %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th style="text-align: right">{{ 'in'|trans }}</th>
                <th style="text-align: right">{{ 'out'|trans }}</th>
                <th style="text-align: right">{{ 'balance'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% set debt = 0 %}
            {% set credit = 0 %}
            {% for transaction in data %}
                {% set debt = debt + transaction.debt %}
                {% set credit = credit + transaction.credit %}
                <tr>
                    <td>{{ transaction.code}}</td>
                    <td>{{ transaction.description}}</td>
                    <td style="text-align: right">{{ price(transaction.debt ? transaction.debt : 0)}}</td>
                    <td style="text-align: right">{{ price(transaction.credit ? transaction.credit : 0)}}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">{{ 'total'|trans }}</th>
                <th>{{ form_widget(form.total_debt, {value: debt, attr: {class: 'priceformat', style: 'text-align: right'}}) }}</th>
                <th>{{ form_widget(form.total_credit, {value: credit, attr: {class: 'priceformat', style: 'text-align: right'}}) }}</th>
                <th style="text-align: right">{{ price(debt - credit)}}</th>
            </tr>
            <tr>
                <th colspan="2">{{ form_label(form.delegated_by)}}</th>
                <th colspan="3">{{ form_widget(form.delegated_by)}}</th>
            </tr>
            <tr>
                <th colspan="2">{{ form_label(form.description)}}</th>
                <th colspan="3">{{ form_widget(form.description)}}</th>
            </tr>
        </tfoot>
    </table>
    
{% endblock %}

{% block actions %}
    {% if data|length >0 %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'save'|trans }}</button>
    {% endif %}
{% endblock %}