{% extends "page-layout.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block button_navigation %}
    {{ link_to('eod_create', {object: object, action: ACTION_CREATE}, {class: 'btn btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-plus"></i> ' ~ 'create'|trans ) }}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block page %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'created_at'|trans }}</th>
                <th>{{ 'total_debt'|trans }}</th>
                <th>{{ 'total_credit'|trans }}</th>
                <th>{{ 'delegated_by'|trans }}</th>
                <th>{{ 'approved_by'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('pages/eod/_filter.twig', {filter: filter}) }}
            {% for k, data in pagination %}
            <tr>
                <th scope="row">{{ (k+1) }}</th>
                <td>{{ data.createdAt|date('d M Y :H:i') }}</td>
                <td style="text-align: right">{{ price(data.totalDebt) }}</td>
                <td style="text-align: right">{{ price(data.totalCredit) }}</td>
                <td>{{ data.delegatedBy }}</td>
                <td>{{ data.approvedBy }}</td>
                <td>{{ data.description }}</td>
                <td>
                    {{ link_to('eod_detail', {id: data.id, object: data, action: ACTION_VIEW}, {class: 'btn btn-xs btn-primary', "data-toggle": 'modal', "data-target": "#myModal"}, '<i class="fa fa-desktop"></i> ' ~ 'detail'|trans ) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}