
<div class="panel panel-white">
    <div class="panel-body">
        
        <div id="sale_by_item_chart" style="height: 260px"></div>
    </div>
</div>

<script>
(function() {
    if(!window.Highcharts){
        alert("this page required Highcharts.js plugin");
        return false;
    }

    Highcharts.chart('sale_by_item_chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: '{{ data.title }}'
        },
        credits: false,
        xAxis: {
            categories: {{ data.category|json_encode()|raw }},
            crosshair: true
        },
        yAxis: {
            title: {
                text: '{{currencyFormat.getCurrencySymbol()}}'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                borderWidth: 0,
                showInLegend: true,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{{currencyFormat.getCurrencySymbol()}} {point.y}</b><br/>'
        },

        series: {{ data.series|json_encode()|raw }}
    });
})();
</script>